.vs
Source/Plague/.vs/Plague/v17/.suo
Source/Plague/.vs/Plague/v17/DocumentLayout.backup.json
Source/Plague/.vs/Plague/v17/DocumentLayout.json
Source/Plague/.vs
Source/Plague/.vs/
Plague/.vs/
.vs/
Source\Plague\.vs\Plague\copilot-chat
D:\SteamLibrary\steamapps\common\RimWorld\Mods\PlagueGun\Source\Plague\.vs\Plague
Source\Plague\.vs\Plague\v17